<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uustocks.mapper.OpAppActiveMapper">
  <resultMap id="BaseResultMap" type="com.uustocks.entity.OpAppActive">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="op_channel_id" jdbcType="INTEGER" property="opChannelId" />
    <result column="channel_name" jdbcType="VARCHAR" property="channelName" />
    <result column="channel_code" jdbcType="VARCHAR" property="channelCode" />
    <result column="platform" jdbcType="VARCHAR" property="platform" />
    <result column="mac" jdbcType="VARCHAR" property="mac" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="phone_type" jdbcType="VARCHAR" property="phoneType" />
    <result column="phone_sys" jdbcType="VARCHAR" property="phoneSys" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="api_version" jdbcType="VARCHAR" property="apiVersion" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="del" jdbcType="CHAR" property="del" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, op_channel_id, channel_name, channel_code, platform, mac, device_id, phone_type, 
    phone_sys, ip, api_version, insert_time, del, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from op_app_active
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from op_app_active
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.uustocks.entity.OpAppActive">
    insert into op_app_active (id, op_channel_id, channel_name, 
      channel_code, platform, mac, 
      device_id, phone_type, phone_sys, 
      ip, api_version, insert_time, 
      del, remark)
    values (#{id,jdbcType=INTEGER}, #{opChannelId,jdbcType=INTEGER}, #{channelName,jdbcType=VARCHAR}, 
      #{channelCode,jdbcType=VARCHAR}, #{platform,jdbcType=VARCHAR}, #{mac,jdbcType=VARCHAR}, 
      #{deviceId,jdbcType=VARCHAR}, #{phoneType,jdbcType=VARCHAR}, #{phoneSys,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{apiVersion,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP}, 
      #{del,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.uustocks.entity.OpAppActive">
    insert into op_app_active
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="opChannelId != null">
        op_channel_id,
      </if>
      <if test="channelName != null">
        channel_name,
      </if>
      <if test="channelCode != null">
        channel_code,
      </if>
      <if test="platform != null">
        platform,
      </if>
      <if test="mac != null">
        mac,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="phoneType != null">
        phone_type,
      </if>
      <if test="phoneSys != null">
        phone_sys,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="apiVersion != null">
        api_version,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
      <if test="del != null">
        del,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="opChannelId != null">
        #{opChannelId,jdbcType=INTEGER},
      </if>
      <if test="channelName != null">
        #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="channelCode != null">
        #{channelCode,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="mac != null">
        #{mac,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="phoneType != null">
        #{phoneType,jdbcType=VARCHAR},
      </if>
      <if test="phoneSys != null">
        #{phoneSys,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="apiVersion != null">
        #{apiVersion,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="del != null">
        #{del,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uustocks.entity.OpAppActive">
    update op_app_active
    <set>
      <if test="opChannelId != null">
        op_channel_id = #{opChannelId,jdbcType=INTEGER},
      </if>
      <if test="channelName != null">
        channel_name = #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="channelCode != null">
        channel_code = #{channelCode,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="mac != null">
        mac = #{mac,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="phoneType != null">
        phone_type = #{phoneType,jdbcType=VARCHAR},
      </if>
      <if test="phoneSys != null">
        phone_sys = #{phoneSys,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="apiVersion != null">
        api_version = #{apiVersion,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="del != null">
        del = #{del,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uustocks.entity.OpAppActive">
    update op_app_active
    set op_channel_id = #{opChannelId,jdbcType=INTEGER},
      channel_name = #{channelName,jdbcType=VARCHAR},
      channel_code = #{channelCode,jdbcType=VARCHAR},
      platform = #{platform,jdbcType=VARCHAR},
      mac = #{mac,jdbcType=VARCHAR},
      device_id = #{deviceId,jdbcType=VARCHAR},
      phone_type = #{phoneType,jdbcType=VARCHAR},
      phone_sys = #{phoneSys,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      api_version = #{apiVersion,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      del = #{del,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>