<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uustocks.mapper.OpCommentMapper">
  <resultMap id="BaseResultMap" type="com.uustocks.entity.OpComment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="u_user_id" jdbcType="INTEGER" property="uUserId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="platform" jdbcType="VARCHAR" property="platform" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="api_version" jdbcType="VARCHAR" property="apiVersion" />
    <result column="app_version" jdbcType="VARCHAR" property="appVersion" />
    <result column="phone_type" jdbcType="VARCHAR" property="phoneType" />
    <result column="phone_sys" jdbcType="VARCHAR" property="phoneSys" />
    <result column="return_state" jdbcType="CHAR" property="returnState" />
    <result column="u_inmail_id" jdbcType="INTEGER" property="uInmailId" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="versions" jdbcType="BIGINT" property="versions" />
    <result column="del" jdbcType="CHAR" property="del" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, u_user_id, username, content, platform, ip, api_version, app_version, phone_type, 
    phone_sys, return_state, u_inmail_id, insert_time, update_time, versions, del, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from op_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from op_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.uustocks.entity.OpComment">
    insert into op_comment (id, u_user_id, username, 
      content, platform, ip, 
      api_version, app_version, phone_type, 
      phone_sys, return_state, u_inmail_id, 
      insert_time, update_time, versions, 
      del, remark)
    values (#{id,jdbcType=INTEGER}, #{uUserId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{platform,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, 
      #{apiVersion,jdbcType=VARCHAR}, #{appVersion,jdbcType=VARCHAR}, #{phoneType,jdbcType=VARCHAR}, 
      #{phoneSys,jdbcType=VARCHAR}, #{returnState,jdbcType=CHAR}, #{uInmailId,jdbcType=INTEGER}, 
      #{insertTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{versions,jdbcType=BIGINT}, 
      #{del,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.uustocks.entity.OpComment">
    insert into op_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uUserId != null">
        u_user_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="platform != null">
        platform,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="apiVersion != null">
        api_version,
      </if>
      <if test="appVersion != null">
        app_version,
      </if>
      <if test="phoneType != null">
        phone_type,
      </if>
      <if test="phoneSys != null">
        phone_sys,
      </if>
      <if test="returnState != null">
        return_state,
      </if>
      <if test="uInmailId != null">
        u_inmail_id,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="versions != null">
        versions,
      </if>
      <if test="del != null">
        del,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uUserId != null">
        #{uUserId,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="apiVersion != null">
        #{apiVersion,jdbcType=VARCHAR},
      </if>
      <if test="appVersion != null">
        #{appVersion,jdbcType=VARCHAR},
      </if>
      <if test="phoneType != null">
        #{phoneType,jdbcType=VARCHAR},
      </if>
      <if test="phoneSys != null">
        #{phoneSys,jdbcType=VARCHAR},
      </if>
      <if test="returnState != null">
        #{returnState,jdbcType=CHAR},
      </if>
      <if test="uInmailId != null">
        #{uInmailId,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="versions != null">
        #{versions,jdbcType=BIGINT},
      </if>
      <if test="del != null">
        #{del,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uustocks.entity.OpComment">
    update op_comment
    <set>
      <if test="uUserId != null">
        u_user_id = #{uUserId,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="apiVersion != null">
        api_version = #{apiVersion,jdbcType=VARCHAR},
      </if>
      <if test="appVersion != null">
        app_version = #{appVersion,jdbcType=VARCHAR},
      </if>
      <if test="phoneType != null">
        phone_type = #{phoneType,jdbcType=VARCHAR},
      </if>
      <if test="phoneSys != null">
        phone_sys = #{phoneSys,jdbcType=VARCHAR},
      </if>
      <if test="returnState != null">
        return_state = #{returnState,jdbcType=CHAR},
      </if>
      <if test="uInmailId != null">
        u_inmail_id = #{uInmailId,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="versions != null">
        versions = #{versions,jdbcType=BIGINT},
      </if>
      <if test="del != null">
        del = #{del,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uustocks.entity.OpComment">
    update op_comment
    set u_user_id = #{uUserId,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      platform = #{platform,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      api_version = #{apiVersion,jdbcType=VARCHAR},
      app_version = #{appVersion,jdbcType=VARCHAR},
      phone_type = #{phoneType,jdbcType=VARCHAR},
      phone_sys = #{phoneSys,jdbcType=VARCHAR},
      return_state = #{returnState,jdbcType=CHAR},
      u_inmail_id = #{uInmailId,jdbcType=INTEGER},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      versions = #{versions,jdbcType=BIGINT},
      del = #{del,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>