<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uustocks.mapper.UBookingRecordMapper">
  <resultMap id="BaseResultMap" type="com.uustocks.entity.UBookingRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="u_user_id" jdbcType="INTEGER" property="uUserId" />
    <result column="record_no" jdbcType="VARCHAR" property="recordNo" />
    <result column="booking_type" jdbcType="VARCHAR" property="bookingType" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="period" jdbcType="INTEGER" property="period" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="api_version" jdbcType="VARCHAR" property="apiVersion" />
    <result column="versions" jdbcType="BIGINT" property="versions" />
    <result column="del" jdbcType="CHAR" property="del" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, u_user_id, record_no, booking_type, name, period, price, insert_time, start_time, 
    end_time, api_version, versions, del, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_booking_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from u_booking_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.uustocks.entity.UBookingRecord">
    insert into u_booking_record (id, u_user_id, record_no, 
      booking_type, name, period, 
      price, insert_time, start_time, 
      end_time, api_version, versions, 
      del, remark)
    values (#{id,jdbcType=INTEGER}, #{uUserId,jdbcType=INTEGER}, #{recordNo,jdbcType=VARCHAR}, 
      #{bookingType,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{period,jdbcType=INTEGER}, 
      #{price,jdbcType=INTEGER}, #{insertTime,jdbcType=TIMESTAMP}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{apiVersion,jdbcType=VARCHAR}, #{versions,jdbcType=BIGINT}, 
      #{del,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.uustocks.entity.UBookingRecord">
    insert into u_booking_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uUserId != null">
        u_user_id,
      </if>
      <if test="recordNo != null">
        record_no,
      </if>
      <if test="bookingType != null">
        booking_type,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="period != null">
        period,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="apiVersion != null">
        api_version,
      </if>
      <if test="versions != null">
        versions,
      </if>
      <if test="del != null">
        del,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uUserId != null">
        #{uUserId,jdbcType=INTEGER},
      </if>
      <if test="recordNo != null">
        #{recordNo,jdbcType=VARCHAR},
      </if>
      <if test="bookingType != null">
        #{bookingType,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="period != null">
        #{period,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="apiVersion != null">
        #{apiVersion,jdbcType=VARCHAR},
      </if>
      <if test="versions != null">
        #{versions,jdbcType=BIGINT},
      </if>
      <if test="del != null">
        #{del,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uustocks.entity.UBookingRecord">
    update u_booking_record
    <set>
      <if test="uUserId != null">
        u_user_id = #{uUserId,jdbcType=INTEGER},
      </if>
      <if test="recordNo != null">
        record_no = #{recordNo,jdbcType=VARCHAR},
      </if>
      <if test="bookingType != null">
        booking_type = #{bookingType,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="period != null">
        period = #{period,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="apiVersion != null">
        api_version = #{apiVersion,jdbcType=VARCHAR},
      </if>
      <if test="versions != null">
        versions = #{versions,jdbcType=BIGINT},
      </if>
      <if test="del != null">
        del = #{del,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uustocks.entity.UBookingRecord">
    update u_booking_record
    set u_user_id = #{uUserId,jdbcType=INTEGER},
      record_no = #{recordNo,jdbcType=VARCHAR},
      booking_type = #{bookingType,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      period = #{period,jdbcType=INTEGER},
      price = #{price,jdbcType=INTEGER},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      api_version = #{apiVersion,jdbcType=VARCHAR},
      versions = #{versions,jdbcType=BIGINT},
      del = #{del,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>