<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uustocks.mapper.UExtendInfoMapper">
  <resultMap id="BaseResultMap" type="com.uustocks.entity.UExtendInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="u_user_id" jdbcType="INTEGER" property="uUserId" />
    <result column="phone_card_type" jdbcType="VARCHAR" property="phoneCardType" />
    <result column="phone_prov" jdbcType="VARCHAR" property="phoneProv" />
    <result column="phone_city" jdbcType="VARCHAR" property="phoneCity" />
    <result column="birth_year" jdbcType="INTEGER" property="birthYear" />
    <result column="birth_month" jdbcType="INTEGER" property="birthMonth" />
    <result column="birth_day" jdbcType="INTEGER" property="birthDay" />
    <result column="horoscope" jdbcType="VARCHAR" property="horoscope" />
    <result column="animal" jdbcType="VARCHAR" property="animal" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="wechat" jdbcType="VARCHAR" property="wechat" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="versions" jdbcType="BIGINT" property="versions" />
    <result column="del" jdbcType="CHAR" property="del" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, u_user_id, phone_card_type, phone_prov, phone_city, birth_year, birth_month, 
    birth_day, horoscope, animal, email, qq, wechat, insert_time, update_time, versions, 
    del, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_extend_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from u_extend_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.uustocks.entity.UExtendInfo">
    insert into u_extend_info (id, u_user_id, phone_card_type, 
      phone_prov, phone_city, birth_year, 
      birth_month, birth_day, horoscope, 
      animal, email, qq, 
      wechat, insert_time, update_time, 
      versions, del, remark)
    values (#{id,jdbcType=INTEGER}, #{uUserId,jdbcType=INTEGER}, #{phoneCardType,jdbcType=VARCHAR}, 
      #{phoneProv,jdbcType=VARCHAR}, #{phoneCity,jdbcType=VARCHAR}, #{birthYear,jdbcType=INTEGER}, 
      #{birthMonth,jdbcType=INTEGER}, #{birthDay,jdbcType=INTEGER}, #{horoscope,jdbcType=VARCHAR}, 
      #{animal,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, 
      #{wechat,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{versions,jdbcType=BIGINT}, #{del,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.uustocks.entity.UExtendInfo">
    insert into u_extend_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uUserId != null">
        u_user_id,
      </if>
      <if test="phoneCardType != null">
        phone_card_type,
      </if>
      <if test="phoneProv != null">
        phone_prov,
      </if>
      <if test="phoneCity != null">
        phone_city,
      </if>
      <if test="birthYear != null">
        birth_year,
      </if>
      <if test="birthMonth != null">
        birth_month,
      </if>
      <if test="birthDay != null">
        birth_day,
      </if>
      <if test="horoscope != null">
        horoscope,
      </if>
      <if test="animal != null">
        animal,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="wechat != null">
        wechat,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="versions != null">
        versions,
      </if>
      <if test="del != null">
        del,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uUserId != null">
        #{uUserId,jdbcType=INTEGER},
      </if>
      <if test="phoneCardType != null">
        #{phoneCardType,jdbcType=VARCHAR},
      </if>
      <if test="phoneProv != null">
        #{phoneProv,jdbcType=VARCHAR},
      </if>
      <if test="phoneCity != null">
        #{phoneCity,jdbcType=VARCHAR},
      </if>
      <if test="birthYear != null">
        #{birthYear,jdbcType=INTEGER},
      </if>
      <if test="birthMonth != null">
        #{birthMonth,jdbcType=INTEGER},
      </if>
      <if test="birthDay != null">
        #{birthDay,jdbcType=INTEGER},
      </if>
      <if test="horoscope != null">
        #{horoscope,jdbcType=VARCHAR},
      </if>
      <if test="animal != null">
        #{animal,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="versions != null">
        #{versions,jdbcType=BIGINT},
      </if>
      <if test="del != null">
        #{del,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uustocks.entity.UExtendInfo">
    update u_extend_info
    <set>
      <if test="uUserId != null">
        u_user_id = #{uUserId,jdbcType=INTEGER},
      </if>
      <if test="phoneCardType != null">
        phone_card_type = #{phoneCardType,jdbcType=VARCHAR},
      </if>
      <if test="phoneProv != null">
        phone_prov = #{phoneProv,jdbcType=VARCHAR},
      </if>
      <if test="phoneCity != null">
        phone_city = #{phoneCity,jdbcType=VARCHAR},
      </if>
      <if test="birthYear != null">
        birth_year = #{birthYear,jdbcType=INTEGER},
      </if>
      <if test="birthMonth != null">
        birth_month = #{birthMonth,jdbcType=INTEGER},
      </if>
      <if test="birthDay != null">
        birth_day = #{birthDay,jdbcType=INTEGER},
      </if>
      <if test="horoscope != null">
        horoscope = #{horoscope,jdbcType=VARCHAR},
      </if>
      <if test="animal != null">
        animal = #{animal,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="versions != null">
        versions = #{versions,jdbcType=BIGINT},
      </if>
      <if test="del != null">
        del = #{del,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uustocks.entity.UExtendInfo">
    update u_extend_info
    set u_user_id = #{uUserId,jdbcType=INTEGER},
      phone_card_type = #{phoneCardType,jdbcType=VARCHAR},
      phone_prov = #{phoneProv,jdbcType=VARCHAR},
      phone_city = #{phoneCity,jdbcType=VARCHAR},
      birth_year = #{birthYear,jdbcType=INTEGER},
      birth_month = #{birthMonth,jdbcType=INTEGER},
      birth_day = #{birthDay,jdbcType=INTEGER},
      horoscope = #{horoscope,jdbcType=VARCHAR},
      animal = #{animal,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      versions = #{versions,jdbcType=BIGINT},
      del = #{del,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>