<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uustocks.mapper.UInviteMapper">
  <resultMap id="BaseResultMap" type="com.uustocks.entity.UInvite">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="u_user_id" jdbcType="INTEGER" property="uUserId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="be_u_user_id" jdbcType="INTEGER" property="beUUserId" />
    <result column="be_username" jdbcType="VARCHAR" property="beUsername" />
    <result column="state" jdbcType="CHAR" property="state" />
    <result column="be_state" jdbcType="CHAR" property="beState" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="versions" jdbcType="BIGINT" property="versions" />
    <result column="del" jdbcType="CHAR" property="del" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, u_user_id, username, be_u_user_id, be_username, state, be_state, insert_time, 
    update_time, versions, del, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_invite
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from u_invite
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.uustocks.entity.UInvite">
    insert into u_invite (id, u_user_id, username, 
      be_u_user_id, be_username, state, 
      be_state, insert_time, update_time, 
      versions, del, remark)
    values (#{id,jdbcType=INTEGER}, #{uUserId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, 
      #{beUUserId,jdbcType=INTEGER}, #{beUsername,jdbcType=VARCHAR}, #{state,jdbcType=CHAR}, 
      #{beState,jdbcType=CHAR}, #{insertTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{versions,jdbcType=BIGINT}, #{del,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.uustocks.entity.UInvite">
    insert into u_invite
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uUserId != null">
        u_user_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="beUUserId != null">
        be_u_user_id,
      </if>
      <if test="beUsername != null">
        be_username,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="beState != null">
        be_state,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="versions != null">
        versions,
      </if>
      <if test="del != null">
        del,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uUserId != null">
        #{uUserId,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="beUUserId != null">
        #{beUUserId,jdbcType=INTEGER},
      </if>
      <if test="beUsername != null">
        #{beUsername,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=CHAR},
      </if>
      <if test="beState != null">
        #{beState,jdbcType=CHAR},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="versions != null">
        #{versions,jdbcType=BIGINT},
      </if>
      <if test="del != null">
        #{del,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uustocks.entity.UInvite">
    update u_invite
    <set>
      <if test="uUserId != null">
        u_user_id = #{uUserId,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="beUUserId != null">
        be_u_user_id = #{beUUserId,jdbcType=INTEGER},
      </if>
      <if test="beUsername != null">
        be_username = #{beUsername,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=CHAR},
      </if>
      <if test="beState != null">
        be_state = #{beState,jdbcType=CHAR},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="versions != null">
        versions = #{versions,jdbcType=BIGINT},
      </if>
      <if test="del != null">
        del = #{del,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uustocks.entity.UInvite">
    update u_invite
    set u_user_id = #{uUserId,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      be_u_user_id = #{beUUserId,jdbcType=INTEGER},
      be_username = #{beUsername,jdbcType=VARCHAR},
      state = #{state,jdbcType=CHAR},
      be_state = #{beState,jdbcType=CHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      versions = #{versions,jdbcType=BIGINT},
      del = #{del,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>