<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uustocks.mapper.UUserMapper">
  <resultMap id="BaseResultMap" type="com.uustocks.entity.UUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="login_pwd" jdbcType="VARCHAR" property="loginPwd" />
    <result column="pay_pwd" jdbcType="VARCHAR" property="payPwd" />
    <result column="vip" jdbcType="TINYINT" property="vip" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="platform" jdbcType="VARCHAR" property="platform" />
    <result column="op_channel_id" jdbcType="VARCHAR" property="opChannelId" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="login_pwd_update_time" jdbcType="TIMESTAMP" property="loginPwdUpdateTime" />
    <result column="pay_pwd_update_time" jdbcType="TIMESTAMP" property="payPwdUpdateTime" />
    <result column="invite_code" jdbcType="VARCHAR" property="inviteCode" />
    <result column="versions" jdbcType="BIGINT" property="versions" />
    <result column="del" jdbcType="CHAR" property="del" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uuid, username, login_pwd, pay_pwd, vip, phone, state, salt, platform, op_channel_id, 
    insert_time, update_time, login_pwd_update_time, pay_pwd_update_time, invite_code, 
    versions, del, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from u_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.uustocks.entity.UUser">
    insert into u_user (id, uuid, username, 
      login_pwd, pay_pwd, vip, 
      phone, state, salt, 
      platform, op_channel_id, insert_time, 
      update_time, login_pwd_update_time, pay_pwd_update_time, 
      invite_code, versions, del, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{loginPwd,jdbcType=VARCHAR}, #{payPwd,jdbcType=VARCHAR}, #{vip,jdbcType=TINYINT}, 
      #{phone,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, 
      #{platform,jdbcType=VARCHAR}, #{opChannelId,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{loginPwdUpdateTime,jdbcType=TIMESTAMP}, #{payPwdUpdateTime,jdbcType=TIMESTAMP}, 
      #{inviteCode,jdbcType=VARCHAR}, #{versions,jdbcType=BIGINT}, #{del,jdbcType=CHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.uustocks.entity.UUser">
    insert into u_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="loginPwd != null">
        login_pwd,
      </if>
      <if test="payPwd != null">
        pay_pwd,
      </if>
      <if test="vip != null">
        vip,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="platform != null">
        platform,
      </if>
      <if test="opChannelId != null">
        op_channel_id,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="loginPwdUpdateTime != null">
        login_pwd_update_time,
      </if>
      <if test="payPwdUpdateTime != null">
        pay_pwd_update_time,
      </if>
      <if test="inviteCode != null">
        invite_code,
      </if>
      <if test="versions != null">
        versions,
      </if>
      <if test="del != null">
        del,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="loginPwd != null">
        #{loginPwd,jdbcType=VARCHAR},
      </if>
      <if test="payPwd != null">
        #{payPwd,jdbcType=VARCHAR},
      </if>
      <if test="vip != null">
        #{vip,jdbcType=TINYINT},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="opChannelId != null">
        #{opChannelId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginPwdUpdateTime != null">
        #{loginPwdUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payPwdUpdateTime != null">
        #{payPwdUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="inviteCode != null">
        #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="versions != null">
        #{versions,jdbcType=BIGINT},
      </if>
      <if test="del != null">
        #{del,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uustocks.entity.UUser">
    update u_user
    <set>
      <if test="uuid != null">
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="loginPwd != null">
        login_pwd = #{loginPwd,jdbcType=VARCHAR},
      </if>
      <if test="payPwd != null">
        pay_pwd = #{payPwd,jdbcType=VARCHAR},
      </if>
      <if test="vip != null">
        vip = #{vip,jdbcType=TINYINT},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="opChannelId != null">
        op_channel_id = #{opChannelId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginPwdUpdateTime != null">
        login_pwd_update_time = #{loginPwdUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payPwdUpdateTime != null">
        pay_pwd_update_time = #{payPwdUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="inviteCode != null">
        invite_code = #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="versions != null">
        versions = #{versions,jdbcType=BIGINT},
      </if>
      <if test="del != null">
        del = #{del,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uustocks.entity.UUser">
    update u_user
    set uuid = #{uuid,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      login_pwd = #{loginPwd,jdbcType=VARCHAR},
      pay_pwd = #{payPwd,jdbcType=VARCHAR},
      vip = #{vip,jdbcType=TINYINT},
      phone = #{phone,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      platform = #{platform,jdbcType=VARCHAR},
      op_channel_id = #{opChannelId,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      login_pwd_update_time = #{loginPwdUpdateTime,jdbcType=TIMESTAMP},
      pay_pwd_update_time = #{payPwdUpdateTime,jdbcType=TIMESTAMP},
      invite_code = #{inviteCode,jdbcType=VARCHAR},
      versions = #{versions,jdbcType=BIGINT},
      del = #{del,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>